.center {
    text-align: center;
}

.TopSection {
    display: inline-block;
    padding: 1% 1%;
}

.twocolumns {
    display: flex;
    text-align: justify;
}

.col1 {
    width: 40%;
    background-color: white;
    flex: 1;
    border-right: 3px solid gray;
}

.col2 {
    width: 60%;
    background-color: white;
    flex: 2;
    text-align: center;
    padding-top: 5%;
    margin: auto;
}

.blockheader {
    display: flex;
    width: 90%;
    margin: auto;
}

.column1 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column2 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column3 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column4 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column5 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column6 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column7 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column8 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column9 {
    width: 10%;
    flex: 1;
    text-align: center;
    padding: 0%;
}
.column10 {
    width: 10%;
    flex: 1;
    padding: 0%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Tooltip container */
.calculatetooltip {
    position: relative;
    display: inline-block;
  }
  
/* Tooltip text */
.calculatetooltip .calculatetooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
/* Tooltip arrow */
.calculatetooltip .calculatetooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
/* Show the tooltip text when you mouse over the tooltip container */
.calculatetooltip:hover .calculatetooltiptext {
    visibility: visible;
    opacity: 1;
  }

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 75%;
    margin: auto;
  
    .card {
      display: inline-block;
    }
  }

.toggle-container {
    position: relative;
    display: inline-block;
    width: 50px; /* adjust width as needed */
    height: 170px; /* adjust height as needed */
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px; /* make it round */
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle:before {
    content: "";
    position: absolute;
    width: 40px; /* width of the toggle */
    height: 40px; /* height of the toggle */
    background-color: white;
    border-radius: 50%; /* make it round */
    top: 5px; /* adjust top position */
    left: 5px; /* adjust left position */
    transition: transform 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle {
    background-color: #00274c; /* change background color when checked */
}

input[type="checkbox"]:checked + .toggle:before {
    transform: translateY(300%); /* move toggle down when checked */
}

.backbutton {
    cursor: pointer;
}

.inputRow {
    display: flex;
    text-align: center;
    width: 100%;
    margin: auto;
}

.c0lumn1 {
    width: 9.5%;
    flex: 1;
}
.c0lumn2 {
    width: 9.5.%;
    flex: 1;
}
.c0lumn3 {
    width: 9.5%;
    flex: 1;
}
.c0lumn4 {
    width: 9.5%;
    flex: 1;
}
.c0lumn5 {
    width: 9.5%;
    flex: 1;
}
.c0lumn6 {
    width: 9.5%;
    flex: 1;
}
.c0lumn7 {
    width: 9.5%;
    flex: 1;
}
.c0lumn8 {
    width: 9.5%;
    flex: 1;
}
.c0lumn9 {
    width: 9.5%;
    flex: 1;
}
.c0lumn10 {
    width: 9.5%;
    flex: 1;
}